* {
  box-sizing: border-box;
}

body {
  display: flex;
}

img {
  height: 8rem;
}

form {
  width: 80%;
  margin: 0 auto;
  background-color: #F6F1ED;
  padding: 2rem;
}

.logo-container {
  display: flex;
  color: white;
  background: linear-gradient(0deg, #F6F1ED00, 25%,#F6F1ED, 35%, #F6F1ED,#F6F1ED00);
  align-items: center;
  justify-content: center;
  margin-top: 55vh;
  padding: 1rem 0;
}

i, .logo-text {
  font-family: "botanica-sans", sans-serif;
  color: #27BBC8;
  padding: 4rem 0.8rem;
}

i {
  font-size: 6rem;
}

.logo-text {
  font-size: 4rem;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

.left {
  position: relative;
  flex: 1.5;
  background: url(img/beach-on-a-tropical-island-with-palm-trees-overhan-2021-08-26-15-59-42-utc.jpg);
  background-size: cover;
  background-position: right;
}

.right {
  flex: 2;
  margin: auto;
  background-color: #27BBC8;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.right p {
  text-align: center;
}

.left p {
  text-align: center;
  position: absolute;
  bottom: 1rem;
}

.input-area {
  display: flex;
  justify-content: space-evenly;
}

.input-area-left {
  display: flex;
  flex-direction: column;
}

.input-area-right {
  display: flex;
  flex-direction: column;
}
